body {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  /* border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px; */
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 6.625rem;
  line-height: 1.5;
  margin: 50px auto 0 auto;
  /* circle short hand */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
  line-height: 2;
}

a {
  color: #095255;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

.contact-text {
  width: 40%;
  margin: 40px auto 60px;
}

.pro {
  text-decoration: underline;
}

.intro-text {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.btn {
  text-decoration: none;
}

.copyright-text {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 15px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.c-image {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.python-image {
  width: 50%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
